@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Sacramento&family=Sofia&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #F9F5F6;
}
header{
    background-color: #F8E8EE;
    text-align: center;
}

h1{
    color: black;
    font-size: 48px;
    font-family: 'Sacramento', cursive;
}

a{
    color: #7895B2;
    font-size: 24px;
    font-family: 'Sofia', cursive;
}

main{
    text-align: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 150px 300px;
}

.menu__botoes{
    background-color: #FFCACC;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
}